$gap: 20px;
$accent-main: #008cff;
$accent-red: rgb(214 129 129);
$light-gray: #ccc;
$base-radius: 5px;

* {
  font-family: monospace;
}

button {
  padding: 5px 15px;
  border: 1px solid $accent-main;
  border-radius: $base-radius;

  font-weight: 700;
  color: white;

  background-color: $accent-main;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #0072e6;
}

button:disabled {
  cursor: not-allowed;
  border: 1px solid $light-gray;
  color: #666;
  background-color: $light-gray;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap;
  margin: 0 auto;
}

.h1 {
  font-size: 24px;
  color: $accent-main;
  text-align: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: $gap;

  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.registration-form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-field {
  height: 30px;
  border: 1px solid $light-gray;
  border-radius: $base-radius;
  outline: none;
}

.input-field:focus {
  border: 1px solid $accent-main;
  box-shadow: 0 0 1px $accent-main;
}

.required {
  color: $accent-red;
}

.error-message {
  color: $accent-red;
}

.submit-button {
  align-self: flex-end;
  width: 115px;
  margin-top: 10px;
}
