@use '../../styles/abstract/mixins' as *;

.page {
  position: relative;
  padding: 288px 15px 180px;

  @include flex-center;

  &::before {
    content: '';

    position: absolute;
    inset: 0;

    opacity: 0.4;
    background: url('../../assets/auth-images/background-img.jpg') center no-repeat;
    background-size: cover;
  }
}
