:root {
  --primary-color: #ff6200;
  --primary-hover: #a84202;
  --secondary-color: #fff;
  --background-color: #111;
  --background-color-footer: #000;
  --error: #d0302f;
  --main-font: 'Inter';
  --transition: all ease-in-out 0.2s;
  --border-radius: 10px;
}
