@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover-decor {
  &::after {
    content: '';

    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 2px;

    background-color: var(--primary-color);

    transition: var(--transition);
  }

  &:hover {
    color: var(--primary-color);

    &::after {
      width: 100%;
    }
  }
}
