@use '../../../styles/variables' as *;

.scroll-to-top-button {
  cursor: pointer;

  position: fixed;
  z-index: 1000;
  right: 2rem;
  bottom: 2rem;

  padding: 0.5rem 1rem;
  border: none;
  border: 1px solid black;
  border-radius: 0.5rem;

  font-size: 1rem;
  color: $primary-white;

  background-color: $accent-color;
}
