@use './base/normalize' as *;
@use './base/fonts' as *;
@use './abstract/constants' as *;
@use './abstract/mixins' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--main-font), sans-serif;
  font-weight: 300;
  color: var(--main-color);
  letter-spacing: 1.32px;

  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.not-found {
  display: flex;
  justify-content: center;

  height: 100vh;
  padding-top: 90px;

  font-size: 26px;
  color: var(--primary-color);

  background-image: url('../assets/auth-images/404.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 70%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 6px;
  background-color: var(--primary-color);
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: var(--background-color-footer);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-hover);
}
