.wrapper {
  display: grid;
  grid-template-columns: 330px 1fr;
  gap: 50px;

  padding: 180px 50px 160px;

  color: var(--secondary-color);
}

.link {
  width: 100px;
  height: 40px;

  &:hover {
    color: var(--primary-color);
  }
}
