.wrapper {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 50px;

  padding: 180px 50px 160px;

  color: var(--secondary-color);

  @media (width <= 1360px) {
    grid-template-columns: 1fr;
    padding: 130px 30px 80px;
  }
}
