@use '../../styles/abstract/mixins' as *;

.my-swiper {
  max-width: 94vw;
  height: 50vh;
  border-radius: 15px;
}

.slider {
  position: relative;
}

.slide-one {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('../../assets/images/medium.jpg');
  background-size: 100% 100%;
}

.gloves {
  position: absolute;
  right: 0;

  width: 30%;
  height: 60%;
  margin-top: 6%;
  margin-right: 2%;
  border-radius: 15px;

  animation: pulse-zoom 2.5s ease-in-out infinite;

  @media (width <= 768px) {
    width: 40%;
    height: 50%;
    margin-top: 16%;
  }

  @media (width <= 560px) {
    display: none;
  }
}

@keyframes pulse-zoom {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.action {
  width: 400px;
  padding-top: 20px;

  @media (width <= 560px) {
    width: 90%;
    margin: 0 auto;
  }
}

.action-header {
  overflow: hidden;

  width: 100%;

  font-size: 80px;
  font-weight: 900;
  text-align: center;

  @media (width <= 768px) {
    font-size: 60px;
  }
}

.action-text {
  width: 100%;
  margin-top: 30px;

  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
}

.slide-two-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('../../assets/images/motoslide.jpg');
  background-position: center;
  background-size: cover;
}

.slide-two {
  position: relative;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 450px;
  height: 450px;
  margin: 0 auto;

  i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
  }

  i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }

  i:nth-child(2) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }

  i:nth-child(3) {
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }

  &:hover {
    .green {
      border: 6px solid #00ff0a;
      filter: drop-shadow(0 0 20px #00ff0a);
    }

    .pink {
      border: 6px solid #ff0057;
      filter: drop-shadow(0 0 20px #ff0057);
    }

    .yellow {
      border: 6px solid #fffd44;
      filter: drop-shadow(0 0 20px #fffd44);
    }
  }
}

@media (width <= 560px) {
  .slide-two {
    width: 50%;
    height: 50%;
  }
}

@media (width <= 400px) {
  i {
    display: none;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 75%;
  height: 80%;

  text-align: center;

  @media (width <= 768px) {
    width: 90%;
  }
}

.spring,
.white {
  font-size: 60px;
  font-weight: 900;

  @media (width <= 560px) {
    font-size: 40px;
  }
}

.white,
.text,
.dates {
  color: var(--secondary-color);
}

.text {
  width: 300px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;

  @media (width <= 560px) {
    display: block;
    width: 90%;
    font-size: 14px;
  }
}

.dates {
  font-size: 14px;
  opacity: 0.7;
}

.promo {
  position: relative;
  width: 30%;

  @include flex-center;

  @media (width <= 1000px) {
    width: 50%;
  }

  @media (width <= 560px) {
    font-size: 14px;
  }
}

.slide-three-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)), url('../../assets/images/partsslide.jpg');
  background-position: center;
  background-size: cover;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (width <= 370px) {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
}

.round {
  @media (width <= 560px) {
    width: 65px;
  }
}

.round:hover {
  animation: circle 0.3s linear;
}

@keyframes circle {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.blog-img {
  width: 100%;
  height: 200px;
}

.blog-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 31%;
  border: 1px solid var(--background-color-footer);
  border-radius: 15px;

  transition: all 0.2s linear;

  @media (width<= 768px) {
    width: 47%;
  }

  @media (width<= 536px) {
    width: 85%;
  }

  &:hover {
    cursor: pointer;
    border: 1px solid var(--primary-color);
  }
}

.blog-info {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 0 30px;

  font-size: 15px;

  background-color: var(--background-color-footer);

  @media (width<= 536px) {
    height: 50%;
  }
}

.info-date,
.info-header,
.info-text,
.info-find {
  margin: 8px 0;
}

.info-header {
  color: var(--secondary-color);
}

.info-text {
  margin-bottom: 20px;
  color: grey;
}
