$accent-color: #ff6200;
$base-gap: 20px;

.submit-button {
  display: block;
  margin: 50px auto 0;
}

.button {
  width: fit-content;
  margin-top: $base-gap;
  padding: 5px 20px;
  border-radius: 5px;

  font-size: 14px;
}

.addresses-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.many-buttons {
  display: flex;
  gap: $base-gap;
}

.addresses-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.address-span {
  color: $accent-color;
}

.address-card {
  display: flex;
  flex-direction: column;
  gap: $base-gap;

  min-width: 380px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $accent-color;
  border-radius: 10px;

  color: white;
}

.badge {
  padding: 5px;
  border: 1px solid $accent-color;
  border-radius: 5px;
}

.cross {
  position: absolute;
  z-index: 6;
  top: 10px;
  right: 10px;

  width: 18px;
  height: 18px;

  transition: all 0.5s linear;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
  }
}

.gap {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 10px;
}

.checkboxlabel {
  padding-top: 10px;
}

.checkboxlabel:first-of-type {
  padding-top: 30px;
}
